*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 8px
}
::-webkit-scrollbar-track{
    background-color: transparent;
}


body{
    background-color: white;
    color: black;
}

/*--------------------- dark mod  ------------------- */
/*--------------------- dark mod  ------------------- */



/*--------------------- heading ------------------- */
/*--------------------- heading ------------------- */
.heading{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(52px);
    align-items: center;
    padding: 10px;
    transition: all 1s;
}
.heading .logo {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    cursor: pointer;
}
.dekstop_view{
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}
.dekstop_view a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.menu_bar{
    font-size: 20px;
    display: none;
}
.mobile_view{
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.10);
    left: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    text-align: center;
    display: none;
    transition: all 1s;
}
.mobile_view li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    transition: all 1s;
}
.mobile_view a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}
.mobile_view li:hover{
    background-color: tomato;
}




/*--------------------- heading advanced ------------------- */
/*--------------------- heading advanced ------------------- */
.heading_2{
    margin-top: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
}
.header_from{
    margin-top: 5px;
}
#heading_search_bar{
    width: 160px;
    padding: 5px;
}
.search_btn{
   padding: 7px;
   color: white;
   background-color: blue;
   border: none;
   border-radius: 8px;
   cursor: pointer;
}
.dark_mod_switcher{
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
}






/*--------------------- responsive design ------------------- */
/*--------------------- responsive design ------------------- */



/*------------------ large mobile view------------------*/
/*------------------ large mobile view------------------*/
@media screen  and (max-width: 360px){
    .heading{
        width: 100%;
    }
    .heading .dekstop_view{
        display: none;
    }
    .heading .logo {
        font-size: 15px;
    }
    .menu_bar{
        display: block;
        cursor: pointer;
    }
    .mobile_view.active{
        display: block;
        transition: all 1s;
    }
}






@media screen  and (max-width: 640px){
    .heading{
        width: 100%;
    }
    .heading .dekstop_view{
        display: none;
    }
    .heading .logo {
        font-size: 15px;
    }
    .menu_bar{
        display: block;
        cursor: pointer;
    }
    .mobile_view.active{
        display: block;
        transition: all 1s;
    } 
}







/*------------------ tablate view------------------*/
/*------------------ tablate view------------------*/
@media  screen and (min-width: 576px) {
   
}


@media  screen and (min-width: 767px) {
    
}




/*------------------ large dekstop view------------------*/
/*------------------ large dekstop view------------------*/
@media  screen and (min-width: 1023px) {
    
}
